@model VehicleCheckoutViewModel

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>

<h3>Are you sure you want to checkout?</h3>
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckoutTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckoutTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalParkedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalParkedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Checkout">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Checkout" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
