@model Garage_2_Group_1.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}
 

<h1>Vehicle Data</h1>

 <div class="card" style="width:400px">
  <img class="card-img-top" src="/images/details.jpg" alt="Card image">
  </div>
        <h4></h4>
    <hr />
      </div>
      <div class="card-columns">
          <div class="btn btn-secondary">
    <div class="card-bodytext-center">
        
    <dl class="row">
         
        <dt class = "col-sm-10" >
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd class = "col-sm-10" >
            
             @Model.RegNr
              
               
        </dd>
         <dl class="column">
        <dt class = "col-sm-10" >
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            
             @Model.Type
                
        </dd>
          </div>
           </div>
           
           <div class="btn btn-secondary">
    <div class="card-bodytext-center">
        
    <dl class="row">
         
        <dt class = "col-sm-10" >
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10" >
            
             @Model.ArrivalTime
              
               
        </dd>
         <dl class="column">
        <dt class = "col-sm-10" >
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            
             @Model.Color
                
        </dd>
          </div>
           </div>

           <div class="btn btn-secondary">
    <div class="card-bodytext-center">
        
    <dl class="row">
         
        <dt class = "col-sm-10" >
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class = "col-sm-10" >
            
             @Model.Make
              
               
        </dd>
         <dl class="column">
        <dt class = "col-sm-10" >
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            
             @Model.Model
                
        </dd>
          </div>
           </div>
           
           <div class="btn btn-secondary">
    <div class="card-bodytext-center">
        
    <dl class="row">
         
        <dt class = "col-sm-10" >
            @Html.DisplayNameFor(model => model.WheelCount)
        </dt>
        <dd class = "col-sm-10" >
            
             @Model.WheelCount
              
              </dd>
          </div>
           </div>

</div>
<p> 
    <br>
    </p>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

               
