@model Garage_2_Group_1.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}
 

<h1></h1>

<div class="card" style="width: 18rem;">
  <img src="/images/details.jpg" class="card-img-top" alt="Vehicle Data">
  <div class="card-body">
    <h5 class="card-title">Vehicle Data</h5>
    <p class="card-text"> @Html.DisplayNameFor(model => model.RegNr):
    @Model.RegNr
    @Html.DisplayNameFor(model => model.Type):
    @Model.Type
    <br>
     @Html.DisplayNameFor(model => model.ArrivalTime):
      @Model.ArrivalTime
       @Html.DisplayNameFor(model => model.Color):
       @Model.Color
       <br>
       @Html.DisplayNameFor(model => model.Make):
        @Model.Make
        <br>
        @Html.DisplayNameFor(model => model.Model):
        @Model.Model
        <br>
        @Html.DisplayNameFor(model => model.WheelCount):
        @Model.WheelCount
    </p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
     
  </div>
</div>

   
      

               
