@model ParkatronDetailsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div>
    <h4>ParkatronDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfParkedVehicles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfParkedVehicles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRegisteredVehicles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRegisteredVehicles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRegisteredUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRegisteredUsers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarnedTotals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarnedTotals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsedParkingSlots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsedParkingSlots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGarageSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGarageSpace)
        </dd>
    </dl>
</div>

