@model ParkatronDetailsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";}

    <h1 class="header_table">Garage Statistics</h1>
       <div class="container mt-5"> 
     <div class="row">
        <div class="row">
         
              <div class="col">
                   
   <div class="card mb-4 text-white bg-primary mb-3" style="width: 12rem;">
  <div class="card-header">Total Number of Parked Vehicles</div>
  <div class="card-body">
    <h5 class="card-title"> @Html.DisplayFor(model => model.NumberOfParkedVehicles)</h5>
    <p class="card-text text-white"></p>
  </div>
</div>
</div>


     
                 <div class="col">   
<div class="card mb-4 text-white bg-secondary mb-3" style="width: 14rem;">
  <div class="card-header">Total Number of Registered Vehicles</div>
  <div class="card-body">
    <h5 class="card-title"> @Html.DisplayFor(model => model.NumberOfRegisteredVehicles)</h5>
    <p class="card-text text-white"></p>
  </div>
</div>
</div>

    <div class="col">
<div class="card mb-4 text-white bg-warning mb-3" style="width: 14rem;">
  <div class="card-header">Total Number of Registered Users</div>
  <div class="card-body">
    <h5 class="card-title">@Html.DisplayFor(model => model.NumberOfRegisteredUsers)</h5>
    <p class="card-text text-white"></p>
  </div>
</div>
</div>
 <div class="col">   
<div class="card mb-4 text-white bg-success mb-3" style="width: 14rem;">
  <div class="card-header">Earned Total Sum of Parking Revenue</div>
  <div class="card-body">
    <h5 class="card-title">@Html.DisplayFor(model => model.EarnedTotals)</h5>
    <p class="card-text text-white"></p>
  </div>
</div>
</div>
 <div class="col">
<div class="card mb-4 text-white bg-danger mb-3" style="width: 14rem;">
  <div class="card-header">Number of Used Parking Slots</div>
  <div class="card-body">
    <h5 class="card-title">@Html.DisplayFor(model => model.UsedParkingSlots)</h5>
    <p class="card-text text-white"></p>
  </div>
</div>
</div>
 <div class="col">
<div class="card mb-4 text-white bg-info mb-3" style="max-width: 14rem;">
  <div class="card-header">Total Garage Space</div>
  <div class="card-body">
    <h5 class="card-title">@Html.DisplayFor(model => model.TotalGarageSpace)</h5>
    <p class="card-text text-white"></p>
  </div>
</div>
</div>
 <div class="col">
<div class="card mb-4 text-white bg-primary mb-3" style="max-width: 14rem;">
  <div class="card-header">Total Amount of Wheels</div>
  <div class="card-body">
    <h5 class="card-title">@Html.DisplayFor(model => model.TotalWheels)</h5>
    <p class="card-text"></p>
  </div>
</div>
</div>


 <div class="col">
<div class="card mb-4 text-white bg-secondary mb-3" style="max-width: 14rem;">
  
  <div class="card-body">
        <p class="card-text text-white"></p>
 <div class="card-header">Number of Vehicles per Vehicle Type</div>

          <br />
        <dl class="row">
             

            
           
             @foreach (var item in Model.RegisteredVehicleTypes)
        {
            <div class="col"> @Html.DisplayFor(modelItem => item.Name)</div>
             
            <div class="col"> @Html.DisplayFor(modelItem => item.Count)</div>
            <div class="w-80"></div>
        }

        </dl>
    </div>

     </div>
</div>