@using Garage_2_Group_1.Models.VehicleVeiwModels
@model IEnumerable<VehicleIndexViewModel>
@{
    
}

<div id="parkedCars" class="container mt-5">
    <div class="row">
        <div class="row">

@foreach (var item in Model) {
    <div class="col">
                    <div class="card mb-4" style="width: 18rem;">
                        <parked reg-nr=@item.RegNr></parked>
                        <div class="card-header">@Html.DisplayNameFor(model => model.RegNr): @Html.DisplayFor(modelItem => item.RegNr)</div>
                        <div class="card-header">@Html.DisplayNameFor(model => model.FullName): @Html.DisplayFor(modelItem => item.FullName)</div>
                        <div class="card-header">@Html.DisplayNameFor(model => model.Make): @Html.DisplayFor(modelItem => item.Make)</div>
                        <div class="card-header">@Html.DisplayNameFor(model => model.Model): @Html.DisplayFor(modelItem => item.Model)</div>
                        <div class="card-header">@Html.DisplayNameFor(model => model.VehicleTypeName): @Html.DisplayFor(modelItem => item.VehicleTypeName)</div>
                        <div class="card-body">

                            <a asp-action="Edit" asp-route-id="@item.RegNr" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.RegNr" class="btn btn-primary">Details</a>
                            <poc reg-nr=@item.RegNr type-id=@item.VehicleTypeId></poc>
                        </div>
                    </div>
                </div>
                @if (item.ParkingSlots.Count == 0)
                {
                    <vc:park reg-nr=@item.RegNr id="vc-park"></vc:park>
                }
                @if (item.ParkingSlots.Count > 0)
                {
                    <vc:checkout reg-nr=@item.RegNr></vc:checkout>
                }
}
        </div>
    </div>
</div>
