@model VehicleParkViewModel
@inject IParkingService parkingService
@inject IUserSelectListService userListService

<h1>Park your vehicle(@parkingService.EmptyParkingSlotsCount available spots out of @parkingService.Capacity)</h1>

<div class="container my-3">
    <div class="row">
        @for (var i = 1; i <= parkingService.Capacity; i++)
        {
           var color = parkingService.EmptyParkingSlots[i] == "" ? "green" : "red";
           <span class="box @color">@i</span>
        }
    </div>
</div>

@{
    var vehicles = await userListService.GetVehicleSelectListAsync(Model!.UserSSN);
}

@{
    if (vehicles.Count == 0)
    {
        <h3 class="mb-3">There's is so unparked vehicles for that user</h3>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    }
    else
    {
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Park" id="ParkForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="RegNr" class="control-label"></label>
                        <select class="form-control inputField" name="RegNr" asp-items="@vehicles">
                            <option selected="selected" disabled value="">Please select</option>
                        </select>
                        <span asp-validation-for="RegNr" id="RegNrValidation" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Park" class="btn btn-primary hidden" />
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    }
}

<div class="modal fade" id="VehicleModal" tabindex="-1" aria-labelledby="VehicleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="VehicleModalLabel">Park Vehicle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Your vehicle has been successfully parked!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('select[name="RegNr"]').val('');
        });
        $('select[name="RegNr"]').on('change', function () {
            $('#RegNrValidation').html("");
            $(".hidden").removeClass("hidden");
        });
    </script>

    @if (Model?.ParkedSuccesfully == true)
    {
    <script type="text/javascript">
        $(function () {
            $("#VehicleModal").modal('show');
            $('form')[0].reset();
        });
    </script>
    }
}
